  {% extends 'blogs\base.html' %}
  {% block content %}

  <div class="p-5 mb-4 bg-light rounded-10 shadow">
      <div class="container-fluid py-5">
          <div class="row align-items-md-stretch">
              <div class="col-md-7 fs-4">
                  <h1 class="display-5 fw-bold jl-text-big">Read Set Go!</h1>
                  <div class="col-md-12 fs-4 jl-text jl-p">Supercharging my brain with a lot of information!</div>
              </div>
              
          </div>
      </div>
  </div>
  <div class="row align-items-md-stretch">
    {% for blog in blogs.all  %}
      <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative rounded-10">
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0 jl-text-m">{{blog.title}}</h3>
            <p class="card-text mb-auto">{{blog.summary}}</p>
            <a class="pt-5 link-secondary" href="/blog/{{blog.id}}" title="{{blog.title}}">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

  {% endblock %}