{% extends 'blogs\base.html' %}
{% block content %}

    <main> 
      <div class="p-5 mb-10 bg-light rounded-10 shadow">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold jl-text-big text-center">{{blog.title}}</h1>
            <div class="col-md-12 text-center"><img class="jl-img" src="{{blog.image.url}}" alt="{{blog.title}}" /></div>
            <div class="col-md-12 fs-4"><p>{{blog.description}}</p></div>              
        </div>
      </div>
    </main>

{% endblock %}